<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
  
<h1>Showing selected article</h1>

<p> 
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

